<div class='container-fluid'>
  <div class="row">
    <div class="col-xs-2 col-sm-3">
      <div class="image-container">
        <img src="assets/circular_jm.png" alt="J. Marx Photo">
        </div>
    </div>
    <div class="col-xs-10 col-sm-9">
    <div class="about-project">
    <h3>About Project</h3>
    <p>
     <a href="https://github.com/jkmarx/WICE">WICE Code</a>: The WICE project was created by <a href="http://www.jkmarx.com">Jennifer Marx </a>to meet the requirements for Project 1 of Boston-General Assembly's Web Development Immersive in Feb 2015. It is a full-stack Ruby on Rails App. The project had a timeline of 7 days to complete.
    </p>

    <p>
    <h3>Features</h3>
    <ul>
      <li>This app has features which are typically associated with recipe sites such as add, edit, delete, and rate recipes.</li>

      <li>Users have a profile which includes their food allergies. The app will provide recipes which can accomodate those allergies.</li>

      <li>When a user uploads recipes, the model will search for allergy ingredients and associate the recipe with food allergy (on a limited scale).</li>

      <li> The feature Gems used are <a href="https://github.com/plataformatec/devise">Device</a>, <a href="https://github.com/thoughtbot/paperclip">Paperclip</a>, and <a href="https://github.com/wazery/ratyrate">RatyRate</a>.</li>
    </ul>
    </p>

    <p>
    <h3>Contact Jennifer K. Marx</h3>
    <ul>
      <li><a href="mailto:jennifer@jkmarx.com">jennifer@jkmarx.com</a></li>
      <li><a href="http://www.jkmarx.com"><h4>Portfolio Site</h4></a></li>
      <li><a href="https://github.com/jrutledg"><h4>GitHub Account</h4></a></li>
      <li><a href="https://twitter.com/jenniferkmarx" class="twitter-follow-button" data-show-count="false">Follow @jenniferkmarx</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></script></li>

    </p>

    </div>
   </div>
  </div>
</div>
